.tracker {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 7px
    ),
    repeating-linear-gradient(#54c5ff55, #54c5ff);
}

.tracker__card {
  position: relative;
  top: 70px;
  /* height: 100vh; */
}

.backto__dashboard {
  position: relative;
}

.btn_backto__dashboard {
  position: absolute;
  top: 0;
  right: 50px;
}

h2 {
  color: #004aad;
}

@media (max-width: 768px) {
  .btn_backto__dashboard {
    position: absolute;
    top: 0;
    right: 10px;
  }
  .profile-image {
    align-items: center;
  }
}
